#logo-top {
    position: relative;
    height: 75px;
    margin-top: 25px;
    margin-left:;
    float: left;
}

#divnav {
    margin-left: 1350px;
    height: 100px; 
    background: ;
    
}

.nav1 {
    position: relative;
    border: 3px solid #73AD21;
    margin-top: 35px;
}
#cp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#print1 {
    position: absolute;
    margin-left: 1550px;
    /* border: thin solid #73AD21; */
    height: 15px;
    width: 20px;  
  
}

#print2 {
    margin-left: 1575px;
    /* border: thin solid red; */
}

p {
    margin-left: 235px;
    margin-right: 235px;;
}

#listpicture {
    position:absolute;
    display: block;
    margin-left: 235px;
    /* margin-right: 235px; */
    max-width: 100%;
}

#divcheckbox {
    position:relative;
    margin-left: 300px;
    margin-top: 
}